<!DOCTYPE html>

<html>
    <head>
        <title>Информация</title>
    </head>

    <body>
        <h1>Информация</h1>
        <a href="{{ url_for('index') }}">На главную</a>
        <br/>
        <textarea id="data" cols="100" rows="30">{{ data }}</textarea>
        <br/>
        <button onclick="send_data()">Сохранить</button>
        <small id="saved" style="color: green;">Сохранено</small>

        <script lang="javascript">
            let uptodate = true;

            async function send_data() {


                let text_area = document.getElementById('data');
                let text = text_area.value;
                while (text.includes('\n')) {
                    text = text.replace('\n', '!!!newline!!!');
                }
                await (await fetch(`{{ url_for('send_data') }}?token={{ token }}&data=${text}`));
                uptodate = true;
                let saved = document.getElementById("saved");
                saved.innerText = "Сохранено";
                saved.style.color = "green";
            }

            document.getElementById("data").addEventListener(
                "input",
                ev => {
                    uptodate = false;
                    let saved = document.getElementById("saved");
                    saved.innerText = "Не сохранено";
                    saved.style.color = "red";
                }
            )

            document.getElementById("data").addEventListener(
                "keydown",
                ev => {
                    if (ev.ctrlKey && (ev.key === "s" || ev.key === "ы")) {
                        uptodate = true;
                        ev.preventDefault();
                        send_data();
                    }
                }
            )

            window.onbeforeunload = ev => {
                if (!uptodate) {
                    ev.cancelBubble = true;
                    ev.preventDefault();
                    ev.stopPropagation();
                }
            }
        </script>

    </body>
</html>